body{
    margin: 0;
}
.A{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background: darkorange;
    padding: 200px;
    margin: 100px;
    box-shadow: black 30px 30px;
}


.B{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background: darkorange;
    padding: 200px;
    margin: 100px;
    box-shadow: black 30px 30px 10px 5px;
}

.C{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background: darkorange;
    margin: 100px;
    padding: 200px;
    box-shadow: black 30px 30px 10px 10px;
}

.D{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background: darkorange;
    margin: 100px;
    padding: 200px;
    box-shadow: gray 30px 30px 10px 10px;

}

.E{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background: darkorange;
    margin: 100px;
    padding: 200px;
    box-shadow: black 30px 30px 10px 5px;
    border-radius: 3px;
}

.F{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background: darkorange;
    margin: 100px;
    padding: 200px;
    border-radius: 3px;
    box-shadow: gray 30px 30px 10px 5px;
}